/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/

@media (min-width:769px) and (max-width:1024px) {
    body {
        margin: 0;
        padding: 0;
    }

    
    nav {
        background-color: #540B51;
        display: flex;
        justify-content: space-between;
        border: none;
    }
    
    .logo1 {
        width: 150px;
        padding: 25px 25px 0 25px;
    }
    
    .but {
        width: 50px;
        background-color: #540B51;
        margin: 25px 10px 25px 0;
        border: none;
    }

    header {
        background-image: url(../images/background-singup.png);
        display: flex;
        flex-direction: row;
        background-size: 150%;
        border: none;
        background-repeat: no-repeat;
        padding: 0 0 100px 0;
    }
    

    .div1 {
        display: flex;
        flex-direction: column;
        align-items: left;
        align-self: stretch;
        flex-basis: 60%;
        width: 95%;
        margin: 0 auto;
    }

    .div2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-basis: 40%;
        align-self: center;
        width: 100%;
        height: auto;
        overflow: hidden;
    }
    
    header h1 {
        color: white;
        width: 70%;
        font-size: 70px;
        text-align: left;
        margin: 25px 0 0 25px;
    }
    
    .white {
        color: white;
        margin-left: 25px;
    }
    
    .orange {
        color: orange;
    }
    
    .but1 {
        background-color: white;
        color: #540B51;
        text-align: center;
        padding: 15px;
        width: 90%;
        border: none;
        border-radius: 3px;
        font-weight: bold;
        margin: 5px auto;
    }
    
    .but2 {
        background-color: #4285F4;
        color: white;
        padding: 7px;
        width: 90%;
        border: none;
        border-radius: 3px;
        font-weight: bold;
        margin: 5px auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .goo {
        background-color: white;
        width: 30px;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: flex-start;
    }

    .hero {
        background-image: cover;
        max-width: 120%;
        overflow-x: hidden;
        margin: 0 0 0 100px;
    }

    .hero1 {
        display: none;
    }

    .imagefle {
        width: 80%;
        margin: 30px 0 30px 20%;
    }

    .imagecon {
        width: 80%;
        margin: 30px 0 30px 0;
    }
    
    .logosec {
        background-color: #F3EAE2;
        text-align: center;
        display: flex;
        flex-direction: column;
        max-width: 100%;
        padding-bottom: 50px;
    }

    .logo {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 90%;
        justify-content: space-around;
        margin: 0 auto;

    }

    .logo img {
        height: 30px;
        margin: 0 0 20px 0;
    }

    .sec1 {
        background-color: #F3EAE2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 100%;
        margin: 0 auto;
        padding-bottom: 25px;
    }

    .textmiddle {
        width: 60%;
        margin: 0 auto;
    }

    h2 {
        color: #191817;
        width: 100%;
        margin: 15px auto;
    }

    .txt {
        color: #000000;
        width: 100%;
        margin: 0 auto 15px auto;
    }

    .link{
        color: #2E71A6;
        width: 100%;
        margin: 0 auto 15px auto;
        text-decoration: none;
        padding-bottom: 25px;
    }

    .link img {
        display: none;
    }

    .sec2 {
        background-color: #F3EAE2;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        max-width: 100%;
        margin: 0 auto;
        padding-bottom: 25px;
    }

    h3 {
        font-size: 30px;
        width: 95%;
        margin: 0 auto;
        padding: 25px 0 15px 0;
    }

    .sec3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 95%;
        text-align: center;
        margin: 0 auto;
    }

    .rowbut {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .but3 {
        background-color: #540B51;
        color: white;
        border: 2px solid #540B51;
        text-align: center;
        padding: 15px;
        width: 40%;
        border-radius: 3px;
        font-weight: bold;
        margin: 5px 5px;
    }

    .but4 {
        background-color: white;
        color: #540B51;
        border: 2px solid #540B51;
        text-align: center;
        padding: 15px;
        width: 25%;
        border-radius: 3px;
        font-weight: bold;
        margin: 5px 5px;
    }

    .sec3 ul { 
        list-style: none;
        padding: 0;
    }

    .sec3 ul > li {
        width: 50%;
        margin: 0 auto;
        padding: 0;
    }

    .percent {
        font-size: 50px;
        color: #540B51;
        font-weight: bold; 
    }

    .sec4 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        text-align: center;
        margin: 0 auto;
        background-color: #540B51;
        color: white;
    }

    .but5 {
        background-color: white;
        color: #540B51;
        border: 2px solid white;
        text-align: center;
        padding: 15px;
        width: 80%;
        border-radius: 3px;
        font-weight: bold;
        margin: 5px auto;
    }

    .but6 {
        background-color: #540B51;
        color:white;
        border: 2px solid white;
        text-align: center;
        padding: 15px;
        width: 80%;
        border-radius: 3px;
        font-weight: bold;
        margin: 5px auto 25px auto;
    }

    .logoend {
        width: 70px;
        margin: 25px 0 25px 10px; 
    }

    .sec5 {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        text-align: left;
        margin: 0 auto;
        color: black;
    }

    .sec5 ul { 
        list-style: none;
        padding: 0 0 0 10px;
    }

    .sec5 li:first-child { 
        font-weight: bold;
        margin: 0 0 10px 0;
    }

    .sec5 li { 
        margin: 0 0 10px 0;
    }

    .sec6 {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-content: space-around;
        width: 100%;
        text-align: left;
        margin: 15px auto;
        color: black;
        list-style: none;
        padding: 0 0 0 10px;
    }

    .sec6 li { 
        margin: 10px 0 10px 0;
        font-weight: bold;
    }

    .sec7 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 50%;
        margin: 25px 0 25px 25px;
        list-style: none;
        padding: 0;
    }
}
    
@media (max-width: 768px) {
    body {
        margin: 0;
        padding: 0;
    }

    
    nav {
        background-color: #540B51;
        display: flex;
        justify-content: space-between;
        border: none;
    }
    
    .logo1 {
        width: 150px;
        padding: 25px 25px 0 25px;
    }
    
    .but {
        width: 50px;
        background-color: #540B51;
        margin: 25px 10px 25px 0;
        border: none;
    }
    
    header {
        background-image: url(../images/background-singup.png);
        display: flex;
        flex-direction: column;
        background-position: center;
        border: none;
        background-repeat: no-repeat;
    }
    
    .div1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: stretch;
    }

    .div2 {
        width: 100%;
        height: auto;
        overflow: hidden;
    }
    
    header h1 {
        color: white;
        text-align: center;
    }
    
    .white {
        color: white;
    }
    
    .orange {
        color: orange;
    }
    
    .but1 {
        background-color: white;
        color: #540B51;
        text-align: center;
        padding: 15px;
        width: 90%;
        border: none;
        border-radius: 3px;
        font-weight: bold;
        margin: 5px auto;
    }
    
    .but2 {
        background-color: #4285F4;
        color: white;
        padding: 7px;
        width: 90%;
        border: none;
        border-radius: 3px;
        font-weight: bold;
        margin: 5px auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .goo {
        background-color: white;
        width: 30px;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: flex-start;
    }

    .hero {
        max-width: 150%;
    }

    .hero1 {
        max-width: 100%;
    }

    .imagefle {
        display: none;
    }

    .imagecon {
        display: none;
    }
    
    .logosec {
        background-color: #F3EAE2;
        text-align: center;
        display: flex;
        flex-direction: column;
        max-width: 100%;
    }

    .logo {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 90%;
        justify-content: space-around;
        margin: 0 auto;

    }

    .logo img {
        height: 30px;
        margin: 0 0 20px 0;
    }

    .sec1 {
        background-color: #F3EAE2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 100%;
        margin: 0 auto;
        padding-bottom: 25px;
    }

    h2 {
        color: #191817;
        width: 95%;
        margin: 15px auto;
    }

    .txt {
        color: #000000;
        width: 95%;
        margin: 0 auto 15px auto;
    }

    .link{
        color: #2E71A6;
        width: 95%;
        margin: 0 auto 0px auto;
        text-decoration: none;
        padding-bottom: 25px;
    }

    .sec2 {
        background-color: #F3EAE2;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        max-width: 100%;
        margin: 0 auto;
        padding-bottom: 25px;
    }

    h3 {
        font-size: 30px;
        width: 95%;
        margin: 0 auto;
        padding: 25px 0 15px 0;
    }

    .sec3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 95%;
        text-align: center;
        margin: 0 auto;
    }

    .but3 {
        background-color: #540B51;
        color: white;
        border: 2px solid #540B51;
        text-align: center;
        padding: 15px;
        width: 100%;
        border-radius: 3px;
        font-weight: bold;
        margin: 5px auto;
    }

    .but4 {
        background-color: white;
        color: #540B51;
        border: 2px solid #540B51;
        text-align: center;
        padding: 15px;
        width: 100%;
        border-radius: 3px;
        font-weight: bold;
        margin: 5px auto;
    }

    .sec3 ul { 
        list-style: none;
        padding: 0;
    }

    .sec3 ul > li {
        width: 50%;
        margin: 0 auto;
        padding: 0;
    }

    .percent {
        font-size: 50px;
        color: #540B51;
        font-weight: bold; 
    }

    .sec4 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        text-align: center;
        margin: 0 auto;
        background-color: #540B51;
        color: white;
    }

    .but5 {
        background-color: white;
        color: #540B51;
        border: 2px solid white;
        text-align: center;
        padding: 15px;
        width: 95%;
        border-radius: 3px;
        font-weight: bold;
        margin: 5px auto;
    }

    .but6 {
        background-color: #540B51;
        color:white;
        border: 2px solid white;
        text-align: center;
        padding: 15px;
        width: 95%;
        border-radius: 3px;
        font-weight: bold;
        margin: 5px auto 25px auto;
    }

    .logoend {
        width: 70px;
        margin: 25px 0 25px 10px; 
    }

    .sec5 {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        text-align: left;
        margin: 0 auto;
        color: black;
    }

    .sec5 ul { 
        list-style: none;
        padding: 0 0 0 10px;
    }

    .sec5 li:first-child { 
        font-weight: bold;
        margin: 0 0 10px 0;
    }

    .sec5 li { 
        margin: 0 0 10px 0;
    }

    .sec6 {
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-content: space-around;
        width: 100%;
        text-align: left;
        margin: 15px auto;
        color: black;
        list-style: none;
        padding: 0 0 0 10px;
    }

    .sec6 li { 
        margin: 10px 0 10px 0;
        font-weight: bold;
        width: 100%;
    }

    .sec7 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 95%;
        margin: 25px auto;
        list-style: none;
        padding: 0;
    }
}

